/*==============================================
    GENERAL  STYLES    
=============================================*/
#wrapper {width: 100%;background:#202020;}
#admin-page-wrapper {padding: 15px 0;min-height: 600px;background:#F3F3F3;}
#page-inner {width:100%;margin:10px 20px 10px 0px;background-color:#fff!important;padding:15px;min-height:1200px;}

#admin-page-wrapper #page-inner p{margin:8px 0!important;}
#admin-page-wrapper #page-inner h2 {font-family: "ff-clan-web-pro" !important;font-weight: 400!important;font-size: 25px!important;text-transform: capitalize; line-height:30px!important; margin-bottom:20px!important;}
#admin-page-wrapper #page-inner h5 { text-transform: capitalize;font-weight: 300;font-size: 20px;color: #0aabd0;}
@media only screen and (max-width: 1023px) {
#admin-page-wrapper #page-inner h2 {font-size:22px!important; line-height:26px!important;}	
}
#admin-page-wrapper #page-inner .btn{border-radius:0; background-color:#06a2c5;border:1px solid #06a2c5;
background-image: none; font-size:12px; min-width:64px;}
#admin-page-wrapper #page-inner .btn:hover{background-color:#161616;border:1px solid #161616;}

.text-center {text-align:center;}
.no-boder {border:1px solid #f3f3f3;}
.square-btn-adjust {
border: 0px solid transparent; 
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
.panel{border-radius:0;}
.panel-heading{font-family: "ff-clan-web-pro" !important;font-weight: 400!important;}

/*==============================================
   DASHBOARD STYLES    
=============================================*/
.panel-back {background-color:#F8F8F8;}
.noti-box {min-height: 150px;padding: 10px;}
.noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 50px;
height: 50px;
line-height: 48px;
vertical-align: middle;
text-align: center;
font-size: 20px;
}
.text-box p{margin: 0 0 3px;}
.main-text {font-size:14px!important;}
.set-icon {
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}
.bg-color-green {background-color: #00CE6F;color: #fff;}
.bg-color-blue {background-color: #A95DF0;color: #fff;}
.bg-color-red {background-color: #DB0630;color: #fff;}
.bg-color-brown {background-color: #B94A00;color: #fff;}
.icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

.main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
.main-temp-back .text-temp {font-size: 40px;}
.back-dash {
padding:20px;
font-size:20px;
font-weight:500;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
.back-dash p {padding-top:16px;font-size:13px;color:#fff;line-height:25px;text-align:justify;}
.back-footer-green {background-color: #009B50;border-top: 0px solid #fff;}
.back-footer-red {background-color: #AF0000;border-top: 0px solid #fff;}
.color-bottom-txt {color: #000;font-size: 16px;line-height: 30px;}

/*CHAT PANEL*/
.chat-panel .panel-body {height: 450px;overflow-y: scroll;}
.chat-box {margin: 0;padding: 0;list-style: none;}
.chat-box li {margin-bottom: 15px;padding-bottom: 5px;border-bottom: 1px dotted #808080;}
.chat-box li.left .chat-body {margin-left: 90px;}
.chat-box li .chat-body p {margin: 0;color: #8d8888;}
.chat-img>img {margin-left:20px;}

/*==============================================
    MENU STYLES    
=============================================*/
.user-image {
 margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}
.navbar-cls-top .navbar-brand {
color: #fff;
background: #C90000;
width: 260px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.active-menu {background-color:#0dd1fd!important;}
.arrow {float: right;}
.fa.arrow:before {content: "\f104";}
.active > a > .fa.arrow:before {content: "\f107";}
.nav-second-level li,
.nav-third-level li {border-bottom: none !important;}
.nav-second-level li a {padding-left: 37px;}
.nav-third-level li a {padding-left: 55px;}
.sidebar-collapse , .sidebar-collapse .nav{background:none;}
.sidebar-collapse .nav {padding:0;}
.sidebar-collapse .nav > li > a {color:#fff;background:#202020;text-shadow:none;}
.sidebar-collapse > .nav > li > a {padding:10px;}
.sidebar-collapse > .nav > li {border-bottom: 1px solid rgba(107, 108, 109, 0.19);}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	background:#0A0A0A;
	outline:0;
}
.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:#ff0000;
	top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:#ff0000;
	top:0px;
	z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
left:40px;
}
.navbar-side {border:none;background-color: #202020;}
.navbar-cls-top {background:#4D4D4D;border-bottom:none;}
.navbar-cls-top .navbar-brand:hover {background: #C90000;color:#fff;}
.navbar-default {border:0px solid black;}
.navbar-header {background: #04bae3;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #B40101;}
.navbar-default .navbar-toggle {border-color: #fff;}
.navbar-default .navbar-toggle .icon-bar {background-color: #FFF;}
.nav > li > a > i {margin-right:10px;}

/*==============================================
    UI ELEMENTS STYLES     
=============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
   Responsive     
=============================================*/
 
@media(min-width:768px) {
	
#admin-page-wrapper{margin: 0 0 0 260px;padding: 15px 30px;min-height: 1200px;}
.navbar-side {z-index: 1;position: absolute;width: 260px;}
.navbar {border-radius: 0px; }
}

.admin-profile-information{position:relative; width:100%; float:left;}
.admin-profile-information h5{margin-bottom:25px;}
.admin-profile-information .pull-left{width:auto; margin-right:20px;}
.admin-profile-information .pull-left img{width:100px; max-height:100px;}
.admin-profile-information ul{margin:0; padding:0;}
.admin-profile-information ul li{font-size:15px; padding:3px 0; display:block;}
.admin-profile-information ul li .fa{color:#0dd1fd; vertical-align:middle; position:relative; margin-right:8px; top:-1px;}
.admin-profile-information ul li b{font-size:16px; color:#626060;}

/*==============================================
   Responsive     
=============================================*/
 
@media(max-width:1199px) {
.admin-profile-information .pull-left{margin-right:10px;}
.admin-profile-information .pull-left img{width:50px; margin-bottom:10px;}	
.admin-profile-information ul{margin-bottom:10px; float:left;}
.admin-profile-information ul li{font-size:12px; padding:0;}
.admin-profile-information ul li b{font-size:13px;}
}

.admin-address-details{position:relative; width:100%; float:left;}
.admin-address-details .panel{margin-bottom:25px;}
.admin-address-details h5{margin-bottom:25px;}
.admin-address-details .panel-heading{border-radius:0;}
.admin-address-details p{font-size:15px!important;}
.admin-address-details .panel-body{min-height:120px;}
.admin-address-details .absolute-icon {position: absolute;top:-20px; right:20px;
display: block;
float: left;
margin: 0 15px 10px 0;
width: 50px;
height: 50px;
border-radius:100%;
line-height: 48px;
vertical-align: middle;
text-align: center;
font-size: 20px;
background-color:#0dd1fd;
}
.admin-address-details .absolute-icon i{font-size:20px; color:#fff;}

/*==============================================
   Responsive     
=============================================*/

@media(min-width:768px) and (max-width:1199px) {
.admin-address-details .absolute-icon {width: 30px;height: 30px; line-height:30px; top:-15px;}
}

.admin-form-area{}
.admin-form-area .inputfile{max-width: 100% !important;width: 100%;border: 1px solid #dcdbdb;padding: 10px;margin-top: 10px;}
.admin-form-area .btn{width:100%; height:50px; border-radius:0; background-color:#06a2c5;border:1px solid #06a2c5;
font-size:20px!important;background-image: none;}
.admin-form-area .btn:hover{background-color:#161616;border:1px solid #161616;}

.admin-form-area .otp-btns{color: #e74c3c;font-size:14px; background-color:transparent; position:relative; top:-10px; margin-bottom:10px;}
.admin-form-area table tbody td{font-size:12px;}

/*==============================================
   Responsive     
=============================================*/
@media(min-width:768px) and (max-width:1199px) {
.admin-form-area .inputfile{font-size:10px;}
.admin-form-area .btn{font-size:16px!important;}
.admin-form-area .otp-btns{font-size:11px;}	
}



/*==============================================
      Driver's Earning
=============================================*/


.admin-earning {
	position: relative;
	width: 100%;
}
.admin-earning .wk-earn {
	position: relative;
	text-align: center;
}
.admin-earning .wk-earn h4 {
	font-size: 22px;
	line-height: 22px;
}
.admin-earning .wk-earn .sub-headline {
	margin-top: 26px;
}
.admin-earning .wk-earn .wk-headline {font-size: 14px;}

.admin-earning .earn-info {position: relative;}
.admin-earning .earn-info ul li span {
	float: right;
}
.admin-earning .earn-info ul li {
	padding: 5px 0;
}
.admin-earning .earn-info ul li:last-child {
	font-weight: 700;
	font-size: 18px;
}
#individual-earning-details {
	display: none;
}